* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --edge-size: 60px;
  --bar-thickness: 8px;
  --bar-color: black;
  --rotation-angle: 45deg;
  --transition-duration: 250ms;
  --transition-easing: ease-in-out;
}

#menu {
  position: relative;
  width: var(--edge-size);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: var(--bar-thickness);
  background-color: var(--bar-color);
}

#menu:hover {
  .bar:nth-child(2) {
    display: none;
  }

  .bar:nth-child(1) {
    position: absolute;
    top: 50%;
    transition: transform var(--transition-duration) var(--transition-easing);
    transform: translateY(-50%) rotate(var(--rotation-angle));
    transform-origin: center;
  }

  .bar:nth-child(3) {
    position: absolute;
    top: 50%;
    transition: transform var(--transition-duration) var(--transition-easing);
    transform: translateY(-50%) rotate(calc(var(--rotation-angle) * -1));
    transform-origin: center;
  }
}
