* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  width: 60px;
  aspect-ratio: 1;
  background-color: yellow; /* used for visual debugging */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
